.dialogs {
    display: grid;
    grid-template-columns: 4fr 8fr;
}

.dialogItems {
    padding: 10px;
}

.dialog {
    padding: 10px;
}

.dialog a {
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 3em;
    padding-top: 5px;
}

.dialog a:hover {
    color: rgb(200, 200, 200);
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
}